/* Divisão da página por grid com duas colunas*/
.content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas: 
    'header header'
    'left right'
}

/* Alteração das colunas para 1 quando a tela for menor que 768px */
@media(max-width: 768px) {
    .content{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 11.4rem 1fr;
    
        grid-template-areas: 
        'header header'
        'center center'
    }
}

header{
    grid-area: header;
}

/* Imagens de backgroud */
#bg-cadastro-idoso{
    grid-area: left;
    background: url(../imagens/medicamento.svg) no-repeat top/contain;
    background-position-x: 0rem;
    width: min(32.3rem, 75%);
}

#bg-cadastro-remedio{
    grid-area: left;
    background: url(../imagens/ferramentas-medicas.svg) no-repeat top/contain;
    background-position-x: 0rem;
    width: min(32.3rem, 75%);
}

/* Retirada das imagens quando a tela for menor que 768 */
@media(max-width: 768px) {
    #bg-cadastro-idoso{
        display: none;
    }
    
    #bg-cadastro-remedio{
        display: none;
    }
}

/* Configurações de posição da main */
main{
    grid-area: right;
    display: flex;
    margin-top: -4rem;
}

/* Configurações de posição da main com tela menor que 768px */
@media(max-width: 768px) {
    main{
        grid-area: center;
        margin: 0 auto;
        max-width: 85%;
    }
}

/* Configurações de tamanho da classe de container */
main .container{
    width: min(36.3rem, 100%);
}

@media(max-width: 768px) {
    main .container{
        margin: 0 auto;
    }
}

/* Tamanho da imagem dentros das sessões */
section img{
    max-width: 50%;
}
/* Deixar legenda dos agrupamentos invisivel */
legend{
    display: none;
}

/* Configurações para inputs do tipo select */
select{
    background: var(--white-input);
    border-radius: .8rem;
    border-color: var(--blue);
    height: 4.5rem;
    padding: 1rem;
    width: 21.5rem;
    border: .2rem solid var(--blue);
    font-family: 'Poppins', bold;
    color: var(--black);
}

/* Configurações para inputs do tipo option */
option{
    font-family: 'Poppins', bold;
    color: var(--black);
}

/* Configurações para span */
span{
    font-family: 'Poppins', bold;
    color: var(--grey-dark);
    margin-right: 0.5rem;
}

.labels-formulario{
    display:block;
    margin-top: 1rem;
}

/* Botões de progresso */
.section-etapa{
    display: flex;
}

.btn-etapa{
    font-size: 2.5rem;
    max-width: 9.8rem;
    max-height: 3rem;
    border: none;
    margin-bottom: 3rem;
    background-color: var(--blue);
    opacity: 0.5;
}

.btn-etapa-meio{
    border-radius: 0;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.btn-etapa-final{
    border-radius: 0rem 1rem 1rem 0rem;
}

.btn-etapa-inicio{
    border-radius: 1rem 0rem 0rem 1rem;   
}

.btn-etapa-destaque{
    max-height: 3.3rem;
    box-shadow: 3px 3px 2px var(--grey-blue);
    background-color: var(--blue);
    margin-top: 1.3rem;
    opacity: 100;
}

[data-tooltip] {
    position:static;
}

[data-tooltip]:after {
    font-size: 1.5rem;
    display: none;
    position: absolute;
    top: -3.5rem;
    border-radius: 3px;
    padding: 0.2rem;
    left: calc(100% + -10rem);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: var(--white-input);
    border: 1px solid var(--black);
    color: var(--black);
    opacity: 0.8;
}
  
[data-tooltip]:hover:after {
    display: block;
}