.content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas: 
    'header header'
    'left right'
}

header{
    grid-area: header;
}

#bg{
    grid-area: left;
    background: url(../imagens/medicamento.svg) no-repeat top/contain;
    background-position-x: 0rem;
    width: min(32.3rem, 75%);
}

#bg-cadastro{
    grid-area: left;
    background: url(../imagens/ferramentas-medicas.svg) no-repeat top/contain;
    background-position-x: 0rem;
    width: min(32.3rem, 75%);
}

main{
    grid-area: right;
    display: flex;
    margin-top: -2rem;
}

main .container{
    width: min(36.3rem, 100%);
}

section img{
    max-width: 50%;
}

#qnt-remedio{
    max-width: 7.5rem;
    padding: rem;
    margin-right: 1rem;
}

select{
    background: var(--white-input);
    border-radius: .8rem;
    border-color: var(--blue);
    height: 4.5rem;
    padding: 1rem;
    width: 21.5rem;
    border: .2rem solid var(--blue);
    font-family: 'Poppins', bold;
    color: var(--black);
}

option{
    font-family: 'Poppins', bold;
    color: var(--black);
}

span{
    font-family: 'Poppins', bold;
    color: var(--grey-dark);
    margin-right: 0.5rem;
}

.div-tipo-remedio{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.div-tipo-remedio > label{
    width: 100%;
}

.section-tipo-refeicao{
    width: 30rem;
}

#dia-hora-remedio{
    width: 14rem;
    margin-right: 1rem;
}

#dia-remedio{
    width: 15rem;
}

#adicionar-dia{
    margin-bottom: 6rem;
    background-color: var(--red-light);
    border-color: var(--red-light);
}

.section-etapa{
    display: flex;
}

.btn-etapa{
    font-size: 2.5rem;
    max-width: 9.8rem;
    max-height: 3rem;
    border: none;
    margin-bottom: 3rem;
    background-color: var(--blue);
    opacity: 0.5;
}

.btn-etapa-meio{
    border-radius: 0;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.btn-etapa-final{
    border-radius: 0rem 1rem 1rem 0rem;
}

.btn-etapa-inicio{
    border-radius: 1rem 0rem 0rem 1rem;   
}

.btn-etapa-destaque{
    max-height: 3.3rem;
    box-shadow: 3px 3px 2px var(--grey-blue);
    background-color: var(--blue);
    margin-top: 1.3rem;
    opacity: 100;
}

[data-tooltip] {
    position:static;
}

[data-tooltip]:after {
    font-size: 1.5rem;
    display: none;
    position: absolute;
    top: -3.5rem;
    border-radius: 3px;
    padding: 0.2rem;
    left: calc(100% + -10rem);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: var(--white-input);
    border: 1px solid var(--black);
    color: var(--black);
    opacity: 0.8;
}
  
[data-tooltip]:hover:after {
    display: block;
}