*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --black: #0D114F;
    --white: #FAFCFD;
    --red: #E24E6A;
    --backgroud: #FAFCFD;
    --overlay:#040911;
    --blue: #067FD1;

    --grey-dark: #7E8990;
    --grey-blue:#A1B2CD;
    --grey-light: #94A4AF;

    /*1 rem = 16px (User Agent) = 100% (User Agent)*/
    font-size: 62.5%; /* = 10px */
}

body{
    display:flex;
    height: 100vh;
    background: var(--backgroud);
}
 
body, button, input, textarea{
    /*Intervalo de tamanho = no menor tamanho 14px, padrão 1.6rem, maior 2vw */
    font-size: clamp(18px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}
.content{
    width: 100%;
    margin: 0 auto;
}

/* Header */

.content header{
    width: 80%;
    margin: 2.5rem auto;
}
.content header img{
    width: 25.5rem;
}