
/* Redefinir os estilos */
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

.texto-link {
    color: #7E8990;
    font-family: 'Poppins', sans-serif;
    
    align-items: center;
}

body, button, input {
    font-size: clamp(15px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: auto;
}