/* Estilização link esqueceu senha */
.link-esqueceu-senha {
    color: var(--grey-dark);
    font-family: 'Poppins', bold;
    margin-left: 6rem;
    margin-top: 1rem;
    text-decoration: underline;
}