.content{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3rem 2fr;
    grid-template-areas: 
    'header header'
    'left left'
}

header{
    grid-area: header;
}

main{
    grid-area: left;
    max-width: 100%;
    margin: 2.5rem auto;
}

@media(max-width: 768px) {
    main{
        align-items: center;
        max-width: 90%;
        margin: 0 auto;
    }
}
.img-medico{
    max-width: 45%;
    border-radius: 50%;
}

@media(max-width: 768px) {
    .img-medico{
        max-width: 30%;
    }
}

.img-lua{
    max-width: 20%;
}

.title-boas-vindas{
    margin-top: 3rem;
    margin-bottom: 0.5rem; 
}

/* Separator line */
.separator{
    background: var(--grey-light);
    max-width: 40%;
    height: 1px;
    margin-bottom: 1rem;
}

.img-cirurgiao{
    max-width: 100%;
    border-radius: 50%;
}

.div-boas-vindas{
    margin-left: -10rem;
}

.section-boas-vindas{
    display: grid;
    grid-template-columns:30% 60%;
    margin-top: 3rem;
}

@media(max-width: 768px) {
    .title-boas-vindas{
        margin-top: 0rem;
        font-size: 20px;
    }
    .separator{
        max-width: 55%;
    }
    .img-cirurgiao{
        display:none;
    }
    .div-boas-vindas{
        margin-left: -25rem;
    }
    .section-boas-vindas{
        margin-top: 6rem;
        grid-template-columns:55% 45%;
        font-size: 18px;
    }
}

.section-meus-medicamentos{
    margin-top: 2rem;
}

.section-meus-medicamentos p{
    color: var(--blue);
    margin-top: -0.8rem;
}

.section-main{
    grid-area: left;
    grid-template-columns:25% 75%;
    max-width: 100%;
    margin-top: 5.4rem;
    padding-top: 2rem;
}

@media(max-width: 768px) {
    .section-main{
        grid-template-columns:100%;
        text-align: center;
    }
    .section-main button{
        margin: 0 auto;
    }
}

.section-remedios{
    display: grid;
    grid-template-columns:50% 50%;

}

@media(max-width: 768px) {
    .section-remedios{
        grid-template-columns:65%;
    }
}


.div-detalhe-remedio{
    display: grid;
    max-width: 100%;
    margin-top: 1.2rem;
    margin-right: 3%;
    grid-template-columns:15% 55% 15% 15%;
    padding: .5rem;
    background: var(--blue-light);
    border-radius: .6rem;
    border: 1.5px solid var(--blue);
    box-shadow: 3px 3px 2px var(--grey-blue);
}


.img-calendario{
    margin-top: .7rem;
    max-width: 75%;
}

.p-horario{
    color: var(--black);
    font-weight: 700;
}

.p-detalhe-remedio{
    color: var(--grey-dark);
    font-size: 1.7rem;
}

.div-detalhe-remedio:hover{
    filter: brightness(1.1)
}

.button-lixeira{    
    background: url(../imagens/lixeira.png) no-repeat top/contain;
    background-position-x: 0rem;
    max-width: 50%;
    margin-left: 1.8rem;
    margin-bottom: -1rem;
    margin-top: 3%;
    border: none;
}

.button-editar{    
    background: url(../imagens/editar.png) no-repeat top/contain;
    background-position-x: 0rem;
    max-width: 50%;
    margin-left: 1.8rem;
    margin-bottom: -1rem;
    margin-top: 3%;
    border: none;
}

.div-button-remedio{
    display: block;
    text-align: center;
    align-items: center;
}


.div-button-remedio:hover{
    width: 98%;
}

.div-button-remedio p {
    font-size: 1.5rem;
    color: var(--grey-dark);
}   


.h2-nome-remedio{
    font-size: 2rem;
}

h3{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(16px, 5vw, 2.3rem);
}

main .container{
    max-width: 100rem;
}